[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
django = "==3.1.13"
django-bootstrap4 = "==1.1.1"
django-bootstrap-datepicker-plus = "==3.0.5"
django-crispy-forms = "==1.9.1"
gitdb = "==4.0.5"
gitpython = "==3.1.2"
social-auth-app-django = "==3.1.0"
social-auth-core = "==3.3.3"
psycopg2 = "==2.7.4"
django-allauth = "==0.42.0"

[requires]
python_version = "3.6"
