<h3>List of All Completed Tasks</h3>
{% if tasks_done %}
    <table>
        <tbody>
        {% for task in tasks_done %}
            <tr>
                <td> Category: {{task.task_category}}</td>
                <td> | {{task.task_details}}</td>
                <td> | Completion: {{task.task_completed_time}}</td>
                <td> | Due: {{task.task_due_date}}</td>
                <td> | Label: {{task.task_label}}</td>
                <td> | <a href="/tasks/{{task.id}}/delete_completed/">Delete</a></td>
                <td> | <a href="/tasks/{{task.id}}/open_completed/">Open Task</a></td></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
{% else %}
    <p>There are no completed tasks right now.</p>
{% endif %}

<h4><a href="/tasks/">Home Page</a></h4>

