<h3>All Completed Tasks</h3>
{% if tasks_done %}
    <table>
        <tbody>
        {% for task in tasks_done %}
            <tr>
                <td> {{task.task_details}}</td>
                <td> | Completion: {{task.task_completed_time.day}}/{{task.task_completed_time.month}}</td>
                <td> | Due: Due: {{task.task_due_date.day}}/{{task.task_due_date.month}}</td>
                <td> | Label: {{task.task_label}}</td>
                <td> | <a href="/tasks/{{task.id}}/delete_completed/">Delete</a></td>
                <td> | <a href="/tasks/{{task.id}}/open_completed/">Open</a></td></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
{% else %}
    <p>There are no completed tasks right now.</p>
{% endif %}

<h4><a href="/tasks/">Home</a></h4>

