{% extends 'tasks/base.html' %}
{% block content %}
    <h3>All Completed Tasks</h3>
    {% if tasks_done %}
        <table>
            <tbody>
            {% for task in tasks_done %}
                <tr>
                    <td> {{task.details}}</td>
                    <td> | Completion: {{task.completed_time.day}}/{{task.completed_time.month}}</td>
                    {% if task.due_date %}
                            {% if task.task_is_completed_past_due %}
                                <td style="color:red">| Due: {{task.due_date.day}}/{{task.due_date.month}} </td>
                            {% else %}
                                <td> | Due: {{task.due_date.day}}/{{task.due_date.month}} </td>
                            {% endif %}
                        {% else %}
                            <td> | Due: </td> 
                        {% endif %}
                    <td> | Label: {{task.label}}</td>
                    <td> | <a href="/tasks/{{task.id}}/log_summary/">Summary</a></td>
                    <td> | <a href="/tasks/{{task.id}}/delete_completed/">Delete</a></td>
                    <td> | <a href="/tasks/{{task.id}}/open_completed/">Open</a></td></td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
    {% else %}
        <p>There are no completed tasks right now.</p>
    {% endif %}

    <h4><a href="/tasks/">Home</a></h4>
{% endblock %}

