{% extends 'tasks/base.html' %}
{% block content %}
    <h3> Task Details </h3>

    Task Details: {{task.details}} <br>
    Create Date: {{task.create_time}} <br>
    Due Date: {{task.due_date}} <br>
    Labels: {{task.label}}<br>

    <h3> Task Log Hours </h3>

    {% if task_log_hours %}
        <table>
            <tbody>
            {% for log in task_log_hours %}
                <tr>
                    <td> Date of Work: {{log.day_of_work}} </td>
                    <td> | {{log.time_spent}} hours </td>
                    <td> | Logged On {{log.log_time}} </td>
                    <td> | {{log.log_notes }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no logs maintaied for this task.</p>
    {% endif %}
    <br>
        
    <a href="/tasks/{{task.id}}/log_hours/">Log Hours for this Task.</a><br>
    <a href="/tasks/">Home</a>
{% endblock %}

    



